
@import url('global.css');
a.link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}
a.link-button .icon{
width: 32px;
    height: 32px;
    padding: 3px;
    background-color: var(--primary-color);
    border: solid 1px #fff;
    background-clip: content-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
a.link-button .icon .playicon {
    border: solid 7px #fff;
    height: 0;
    width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-right: -8px;
}
a.link-button .label {
margin-left: 5px;
}